.background {
  height: 100vh;
  background-image: url(../img/bg/diagonal-gradient.png), url(../img/bg/29-a.png), url(../img/bg/37-a.png), url(../img/bg/53-a.png);
  background-size: 100% 100%, auto, auto, auto;

  background-image: url(../img/bg/29-a.png), url(../img/bg/37-a.png), url(../img/bg/53-a.png);
  background-size: auto, auto, auto;

  background-image: url(../img/bg/29-a.png), url(../img/bg/37-a.png);
  background-size: auto, auto;

  //background-image: url(../img/bg/53-a.png);
  //background-size: auto;
}

.dn {
  display: none;
}

.wr {
  min-height: 100vh;
  background: yellow;
  display: flex;

  &-1 {
    background: lime;
  }

  &-2 {
    background: #2cbbff;
  }

  &-3 {
    background: #fc69ff;
  }

  &-4 {
    background: #ff8a35;
  }
}

.part {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
  font-weight: bold;
  text-align: justify;
  padding: 60px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;

  &__img {
    width: 80%;
    height: auto;
  }

  &-1 {
    width: 60%;
    shape-inside: polygon(10% 10%, 45% 4%, 0% 0%);
  }

  &-2 {
    width: 40%;
  }

}

.shape {
  background: url(../img/1.jpg);
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  background-size: cover;
  transition: all 2s;
  width: 230px;
  height: 400px;
  float: left;
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  shape-margin: 10px;
}

.shape.act {
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
}

//===============

.shape2 {
  //background: url(../img/1.jpg);
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  background-size: cover;
  transition: all 2s;
  width: 30%;
  height: 100%;
  float: left;
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  shape-margin: 10px;
}

.shape2.act {
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
}

.shape3 {
  //background: url(../img/1.jpg);
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  background-size: cover;
  transition: all 2s;
  width: 30%;
  height: 100%;
  float: right;
  shape-outside: polygon(100% 0, 100% 100%, 40% 100%);
  shape-margin: 10px;
}

.shape3.act {
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
}

.shap-cl {
  height: 800px;
  overflow: hidden;
}

.shp {
  width: 180px;
  height: 355px;
  float: right;
  margin-top: 80px;
  background: url(../img/m.png) no-repeat;
  shape-outside: url(../img/z.png);
  shape-image-threshold: 0.5;
  shape-margin: 10px;
}

//=============================
$clip: 120px;
$clipPad: 15px;
//$clip: 5.7vw;

$hor3: 75%;
$vert3: 30%;

$hor3: calc(100% - 350px);
$vert3: 50%;

$time-tr: 2s;

.clip_2 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} - #{$clip}) calc(#{$vert3} - #{$clipPad} - #{$clip}), //left
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                  #{$hor3} calc(#{$vert3} - #{$clipPad} - 2 * #{$clip}), //top
                  calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                  calc(#{$hor3} + #{$clip}) calc(#{$vert3} - #{$clipPad} - 1 * #{$clip}), //right
                  calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2),
                  #{$hor3} calc(#{$vert3} - #{$clipPad} - 0 * #{$clip}), //bottom
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2)
  );
}

.clip_3 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} + #{$clipPad}) calc(#{$vert3}), //left
                  calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} - #{$clip} / 2),
                  calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} - #{$clip}), //top
                  calc(#{$hor3 + #{$clipPad} + 1.5*#{$clip}}) calc(#{$vert3} - #{$clip} / 2),
                  calc(#{$hor3} + #{$clipPad} + 2 * #{$clip}) calc(#{$vert3}), //right
                  calc(#{$hor3} + #{$clipPad} + #{$clip} * 1.5) calc(#{$vert3} + #{$clip} / 2),
                  calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                  calc(#{$hor3} + #{$clipPad} + #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2)
  );
}

.clip_4 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} - #{$clip}) calc(#{$vert3} + #{$clipPad} + #{$clip}), //left
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                  #{$hor3} calc(#{$vert3} + #{$clipPad}), //top
                  calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                  calc(#{$hor3} + #{$clip}) calc(#{$vert3} + #{$clipPad} + 1 * #{$clip}), //right
                  calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip}),
                  #{$hor3} calc(#{$vert3} + #{$clipPad} + 2 * #{$clip}), //bottom
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip})
  );

}

.clip_5 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} - #{$clipPad} - 2 * #{$clip}) calc(#{$vert3}), //left
                  calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} - #{$clip} / 2),
                  calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} - #{$clip}), //top
                  calc(#{$hor3 - #{$clipPad} - #{$clip}/2}) calc(#{$vert3} - #{$clip} / 2),
                  calc(#{$hor3} - #{$clipPad}) calc(#{$vert3}), //right
                  calc(#{$hor3} - #{$clipPad} - #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2),
                  calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                  calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} + #{$clip} / 2)
  );
}

.bl-decor__clip {
  position: absolute;
  z-index: 18;
  top: 50%;
  left: calc(100% - 350px);
  width: 167px;
  height: 167px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.bl-decor__clip::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transition: box-shadow 0.6s;
  box-shadow: 0 0 0 0 rgba(255, 235, 59, 0.77);
}

.bl-city__item:not(.act):hover + .bl-decor__clip::before {
  box-shadow: 0 0 7px 7px rgba(255, 235, 59, 0.6);
}

.bl-city__item.hover-act:not(.act) + .bl-decor__clip::before {
  box-shadow: 0 0 7px 7px rgba(255, 235, 59, 0.6);
}


.bl-city__item.act .cont-main {
  opacity: 1;
  transition: opacity 0.8s;
  transition-delay: 2s;
  pointer-events: all;
}

.bl-decor__clip-2 {
  top: calc(50% - 135px);
}

.bl-decor__clip-3 {
  left: calc(100% - 350px + 135px);
}

.bl-decor__clip-4 {
  top: calc(50% + 135px);
}

.bl-decor__clip-5 {
  left: calc(100% - 350px - 135px);
}

//======================================

$hor3: 50%;
$vert3: 50%;
$time-tr-st: 1s;

.start {

  .bl-city__item {
    transition: all $time-tr-st;
  }

  .clip_2 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clip}) calc(#{$vert3} - #{$clipPad} - #{$clip}), //left
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 2 * #{$clip}), //top
                    calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                    calc(#{$hor3} + #{$clip}) calc(#{$vert3} - #{$clipPad} - 1 * #{$clip}), //right
                    calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 0 * #{$clip}), //bottom
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2)
    );
  }

  .clip_3 {
    clip-path: polygon(
                    calc(#{$hor3} + #{$clipPad}) calc(#{$vert3}), //left
                    calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} - #{$clip} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} - #{$clip}), //top
                    calc(#{$hor3 + #{$clipPad} + 1.5*#{$clip}}) calc(#{$vert3} - #{$clip} / 2),
                    calc(#{$hor3} + #{$clipPad} + 2 * #{$clip}) calc(#{$vert3}), //right
                    calc(#{$hor3} + #{$clipPad} + #{$clip} * 1.5) calc(#{$vert3} + #{$clip} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                    calc(#{$hor3} + #{$clipPad} + #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2)
    );
  }

  .clip_4 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clip}) calc(#{$vert3} + #{$clipPad} + #{$clip}), //left
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                    #{$hor3} calc(#{$vert3} + #{$clipPad}), //top
                    calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                    calc(#{$hor3} + #{$clip}) calc(#{$vert3} + #{$clipPad} + 1 * #{$clip}), //right
                    calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip}),
                    #{$hor3} calc(#{$vert3} + #{$clipPad} + 2 * #{$clip}), //bottom
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip})
    );

  }

  .clip_5 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipPad} - 2 * #{$clip}) calc(#{$vert3}), //left
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} - #{$clip} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} - #{$clip}), //top
                    calc(#{$hor3 - #{$clipPad} - #{$clip}/2}) calc(#{$vert3} - #{$clip} / 2),
                    calc(#{$hor3} - #{$clipPad}) calc(#{$vert3}), //right
                    calc(#{$hor3} - #{$clipPad} - #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} + #{$clip} / 2)
    );
  }
}

//======================================
$clipBegin: 0px;
$time-tr-beg: 0.5s;

.begSize {

  .bl-city__item {
    transition: all $time-tr-beg;
  }

  .clip_2 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipBegin}) calc(#{$vert3} - #{$clipPad} - #{$clipBegin}), //left
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clipBegin}),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 2 * #{$clipBegin}), //top
                    calc(#{$hor3 + #{$clipBegin}/2}) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clipBegin}),
                    calc(#{$hor3} + #{$clipBegin}) calc(#{$vert3} - #{$clipPad} - 1 * #{$clipBegin}), //right
                    calc(#{$hor3} + #{$clipBegin} / 2) calc(#{$vert3} - #{$clipPad} - #{$clipBegin} / 2),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 0 * #{$clipBegin}), //bottom
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} - #{$clipPad} - #{$clipBegin} / 2)
    );
  }

  .clip_3 {
    clip-path: polygon(
                    calc(#{$hor3} + #{$clipPad}) calc(#{$vert3}), //left
                    calc(#{$hor3} + #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} - #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin}) calc(#{$vert3} - #{$clipBegin}), //top
                    calc(#{$hor3 + #{$clipPad} + 1.5*#{$clipBegin}}) calc(#{$vert3} - #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipPad} + 2 * #{$clipBegin}) calc(#{$vert3}), //right
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin} * 1.5) calc(#{$vert3} + #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin}) calc(#{$vert3} + #{$clipBegin}), //bottom
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin} / 2) calc(#{$vert3} + #{$clipBegin} / 2)
    );
  }

  .clip_4 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipBegin}) calc(#{$vert3} + #{$clipPad} + #{$clipBegin}), //left
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} + #{$clipBegin} / 2),
                    #{$hor3} calc(#{$vert3} + #{$clipPad}), //top
                    calc(#{$hor3 + #{$clipBegin}/2}) calc(#{$vert3} + #{$clipPad} + #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipBegin}) calc(#{$vert3} + #{$clipPad} + 1 * #{$clipBegin}), //right
                    calc(#{$hor3} + #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clipBegin}),
                    #{$hor3} calc(#{$vert3} + #{$clipPad} + 2 * #{$clipBegin}), //bottom
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clipBegin})
    );

  }

  .clip_5 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipPad} - 2 * #{$clipBegin}) calc(#{$vert3}), //left
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clipBegin}) calc(#{$vert3} - #{$clipBegin} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clipBegin}) calc(#{$vert3} - #{$clipBegin}), //top
                    calc(#{$hor3 - #{$clipPad} - #{$clipBegin}/2}) calc(#{$vert3} - #{$clipBegin} / 2),
                    calc(#{$hor3} - #{$clipPad}) calc(#{$vert3}), //right
                    calc(#{$hor3} - #{$clipPad} - #{$clipBegin} / 2) calc(#{$vert3} + #{$clipBegin} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clipBegin}) calc(#{$vert3} + #{$clipBegin}), //bottom
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clipBegin}) calc(#{$vert3} + #{$clipBegin} / 2)
    );
  }
}

.begTrans {
  .bl-city__item {
    transition: all 2s;
  }
}

//======================================

.clip_2-cn {
  transform: translate(11%, -14%);
}

.act {
  .clip_2-cn {
    transform: translate(0%, 0%);
  }
}

.act {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%) !important;
  //clip-path: polygon(10% 20%, 20% 30%, 50% 80%) margin-box;
  background-position: 0% 0%;
  cursor: default !important;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background: #212223;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.45);
    background: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
}

.bl-city__item {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;

  .bl-city__item-cn::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    transition: opacity 1s;
  }

  &.act .bl-city__item-cn::before {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 1s;
  }
}

.bl-city__item-cn {
  overflow: hidden;
  background: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all $time-tr;
}

.zm {
  z-index: 15;
}

.zm_next {
  z-index: 12;
  transition: none;
}

.op_z {
  opacity: 0;
}

.op_f {
  opacity: 1;
}

.pen {
  pointer-events: none;
}

.cont-main {
  background: red;
  max-width: 1100px;
  height: calc(100vh - 80px);
  position: absolute;
  z-index: 10;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  overflow: hidden;
  transition: opacity 0.4s;
  opacity: 0;
  pointer-events: none;
}

.cont-main_vis {
  opacity: 1;
}

//=============================================

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-bottom: 20px;
}

.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}

.container:after {
  clear: both;
}

.container-fluid {
  *zoom: 1;
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.container-fluid:after {
  clear: both;
}

.cont-top {
  padding-top: 50px;
}

.span12 {
  width: 940px;
  margin: 0 auto;
}

a span.pull-right {
  color: #004466;
}

a span.pull-right:hover, a span.pull-right:active, a span.pull-right:focus {
  color: #f15217;
}

a.downloadlink {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}

a.downloadlink:hover, a.downloadlink:focus, a.downloadlink:active {
  color: #f15217 !important;
}

a span.pull-left {
  color: #57839a;
}

a span.pull-left:hover, a span.pull-left:active, a span.pull-left:focus {
  color: #f15217;
}

.opacity {
  margin-right: 8px;
}

.opacity {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.opacity:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* итоговая прозрачность 50% (0.5) */

p {
  margin: 0 0 9px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 9px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1, h2, h3 {
  line-height: 36px;
}

h1 {
  font-size: 35.75px;
}

h2 {
  font-size: 35.75px;
}

h3 {
  font-size: 22.75px;
}

h4 {
  font-size: 16.25px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11.05px;
}

img {
  max-width: 100%;
  width: auto \9
;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.pull-left {
  background-image: url(../img/bg_sammy.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top right;
  background-color: #f5f5f5;
  float: left;
  width: 44%;
  height: 200px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 18px;
  line-height: 26px;
}

.pull-right {
  background-image: url(../img/bg_len.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top right;
  background-color: #f5f5f5;
  float: right;
  width: 44%;
  height: 200px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 18px;
  line-height: 26px;
}

.small {
  width: 28%;
  background: #fff;
  background-image: none !important;
  height: auto !important;
}

.download {
  margin-left: 5.5%;
}

/* классы для планшетов */
@media (max-width: 979px) {
  .cont-top {
    padding-top: 0px;
  }
  .download {
    margin-left: 0;
  }
}

@media (min-width: 767px) and (max-width: 979px) {
  .span12 {
    width: 724px;
  }
  .cont-top {
    padding-top: 0px;
  }
  .small {
    width: 30%;
  }
  h2 {
    font-size: 26px;
  }
  .download {
    width: 20% !important;
    margin-left: 2.3%;
    padding: 15px;
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .container {
    width: auto;
  }
  .container-fluid {
    padding: 0;
  }
  .cont-top {
    padding-top: 0px;
  }
  .span12 {
    width: 100%;
    box-sizing: border-box;
  }
  .pull-right, .pull-left {
    float: left;
    width: 86%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 26px;
    line-height: 30px;
  }
  h2 {
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 240px) {
  .pull-right, .pull-left {
    width: 82%;
  }
  .opacity {
    margin-right: 4px;
  }
  h1 {
    font-size: 20px;
    line-height: 22px;
  }
  h2 {
    font-size: 16px;
    line-height: 18px;
  }
}

.bl-city {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  //display: none !important;
}


.menu {
  display: flex;
  justify-content: space-between;
  min-width: 535px;
  position: absolute;
  z-index: 30;
  right: 80px;
  top: 100px;
  transform: translateX(0%);
  transition: all 2s;

  &.menu_start {
    right: 50%;
    transform: translateX(50%);
  }
}

.menu__item {
  text-shadow: 0 0 16px black;
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
  color: gold;
  font-family: $tehno;

  &.menu_h {
    font-size: 35px;
  }

  &.menu_act {
    font-size: 35px !important;
  }
}
