.background {
  height: 100vh;
  background-image: url(../img/bg/diagonal-gradient.png), url(../img/bg/29-a.png), url(../img/bg/37-a.png), url(../img/bg/53-a.png);
  background-size: 100% 100%, auto, auto, auto;

  background-image: url(../img/bg/29-a.png), url(../img/bg/37-a.png), url(../img/bg/53-a.png);
  background-size: auto, auto, auto;

  background-image: url(../img/bg/29-a.png), url(../img/bg/37-a.png);
  background-size: auto, auto;

  //background-image: url(../img/bg/53-a.png);
  //background-size: auto;
}

.dn {
  display: none;
}

.wr {
  min-height: 100vh;
  background: yellow;
  display: flex;

  &-1 {
    background: lime;
  }

  &-2 {
    background: #2cbbff;
  }

  &-3 {
    background: #fc69ff;
  }

  &-4 {
    background: #ff8a35;
  }
}

.part {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
  font-weight: bold;
  text-align: justify;
  padding: 60px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;

  &__img {
    width: 80%;
    height: auto;
  }

  &-1 {
    width: 60%;
    shape-inside: polygon(10% 10%, 45% 4%, 0% 0%);
  }

  &-2 {
    width: 40%;
  }

}

.shape {
  background: url(../img/1.jpg);
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  background-size: cover;
  transition: all 2s;
  width: 230px;
  height: 400px;
  float: left;
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  shape-margin: 10px;
}

.shape.act {
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
}

.title-page {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: $tehno-h;
  color: gold;
  line-height: 1.3;
}

.cont-main__context {
  color: #ffffff;
}

p {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.3;
}

//===============

.shape2 {
  //background: url(../img/1.jpg);
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  background-size: cover;
  transition: all 2s;
  width: 30%;
  height: 100%;
  float: left;
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  shape-margin: 10px;
}

.shape2.act {
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
}

.shape3 {
  //background: url(../img/1.jpg);
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 220px 290px, 0 320px);
  background-size: cover;
  transition: all 2s;
  width: 30%;
  height: 100%;
  float: right;
  shape-outside: polygon(100% 0, 100% 100%, 40% 100%);
  shape-margin: 10px;
}

.shape3.act {
  clip-path: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
  shape-outside: polygon(0 0px, 50% 10%, 180px 150px, 20px 290px, 0 320px);
}

.shap-cl {
  height: 800px;
  overflow: hidden;
}

.shp {
  width: 180px;
  height: 355px;
  float: right;
  margin-top: 80px;
  background: url(../img/m.png) no-repeat;
  shape-outside: url(../img/z.png);
  shape-image-threshold: 0.5;
  shape-margin: 10px;
}

//=============================
$clip: 120px;
$clipPad: 15px;
//$clip: 5.7vw;

$hor3: 75%;
$vert3: 30%;

$hor3: calc(100% - 350px);
$vert3: 50%;

$time-tr: 2s;

.clip_2 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} - #{$clip}) calc(#{$vert3} - #{$clipPad} - #{$clip}), //left
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                  #{$hor3} calc(#{$vert3} - #{$clipPad} - 2 * #{$clip}), //top
                  calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                  calc(#{$hor3} + #{$clip}) calc(#{$vert3} - #{$clipPad} - 1 * #{$clip}), //right
                  calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2),
                  #{$hor3} calc(#{$vert3} - #{$clipPad} - 0 * #{$clip}), //bottom
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2)
  );
}

.clip_3 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} + #{$clipPad}) calc(#{$vert3}), //left
                  calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} - #{$clip} / 2),
                  calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} - #{$clip}), //top
                  calc(#{$hor3 + #{$clipPad} + 1.5*#{$clip}}) calc(#{$vert3} - #{$clip} / 2),
                  calc(#{$hor3} + #{$clipPad} + 2 * #{$clip}) calc(#{$vert3}), //right
                  calc(#{$hor3} + #{$clipPad} + #{$clip} * 1.5) calc(#{$vert3} + #{$clip} / 2),
                  calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                  calc(#{$hor3} + #{$clipPad} + #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2)
  );
}

.clip_4 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} - #{$clip}) calc(#{$vert3} + #{$clipPad} + #{$clip}), //left
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                  #{$hor3} calc(#{$vert3} + #{$clipPad}), //top
                  calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                  calc(#{$hor3} + #{$clip}) calc(#{$vert3} + #{$clipPad} + 1 * #{$clip}), //right
                  calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip}),
                  #{$hor3} calc(#{$vert3} + #{$clipPad} + 2 * #{$clip}), //bottom
                  calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip})
  );

}

.clip_5 {
  display: block;
  transition: all $time-tr;
  cursor: pointer;

  clip-path: polygon(
                  calc(#{$hor3} - #{$clipPad} - 2 * #{$clip}) calc(#{$vert3}), //left
                  calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} - #{$clip} / 2),
                  calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} - #{$clip}), //top
                  calc(#{$hor3 - #{$clipPad} - #{$clip}/2}) calc(#{$vert3} - #{$clip} / 2),
                  calc(#{$hor3} - #{$clipPad}) calc(#{$vert3}), //right
                  calc(#{$hor3} - #{$clipPad} - #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2),
                  calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                  calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} + #{$clip} / 2)
  );
}

.bl-decor__clip {
  position: absolute;
  z-index: 18;
  top: 50%;
  left: calc(100% - 350px);
  width: 167px;
  height: 167px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.bl-decor__clip::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transition: box-shadow 0.6s;
  box-shadow: 0 0 0 0 rgba(255, 235, 59, 0.77);
}

.bl-city__item:not(.act):hover + .bl-decor__clip::before {
  box-shadow: 0 0 7px 7px rgba(255, 235, 59, 0.6);
}

.bl-city__item.hover-act:not(.act) + .bl-decor__clip::before {
  box-shadow: 0 0 7px 7px rgba(255, 235, 59, 0.6);
}


.bl-city__item.act .cont-main {
  opacity: 1;
  transition: opacity 0.8s;
  transition-delay: 2s;
  pointer-events: all;
}

.bl-decor__clip-2 {
  top: calc(50% - 135px);
}

.bl-decor__clip-3 {
  left: calc(100% - 350px + 135px);
}

.bl-decor__clip-4 {
  top: calc(50% + 135px);
}

.bl-decor__clip-5 {
  left: calc(100% - 350px - 135px);
}

//======================================

//$hor3: 50%;
//$vert3: 50%;
$time-tr-st: 1s;

.start__777777 {

  .bl-city__item {
    transition: all $time-tr-st;
  }

  .clip_2 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clip}) calc(#{$vert3} - #{$clipPad} - #{$clip}), //left
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 2 * #{$clip}), //top
                    calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clip}),
                    calc(#{$hor3} + #{$clip}) calc(#{$vert3} - #{$clipPad} - 1 * #{$clip}), //right
                    calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 0 * #{$clip}), //bottom
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} - #{$clipPad} - #{$clip} / 2)
    );
  }

  .clip_3 {
    clip-path: polygon(
                    calc(#{$hor3} + #{$clipPad}) calc(#{$vert3}), //left
                    calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} - #{$clip} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} - #{$clip}), //top
                    calc(#{$hor3 + #{$clipPad} + 1.5*#{$clip}}) calc(#{$vert3} - #{$clip} / 2),
                    calc(#{$hor3} + #{$clipPad} + 2 * #{$clip}) calc(#{$vert3}), //right
                    calc(#{$hor3} + #{$clipPad} + #{$clip} * 1.5) calc(#{$vert3} + #{$clip} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                    calc(#{$hor3} + #{$clipPad} + #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2)
    );
  }

  .clip_4 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clip}) calc(#{$vert3} + #{$clipPad} + #{$clip}), //left
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                    #{$hor3} calc(#{$vert3} + #{$clipPad}), //top
                    calc(#{$hor3 + #{$clip}/2}) calc(#{$vert3} + #{$clipPad} + #{$clip} / 2),
                    calc(#{$hor3} + #{$clip}) calc(#{$vert3} + #{$clipPad} + 1 * #{$clip}), //right
                    calc(#{$hor3} + #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip}),
                    #{$hor3} calc(#{$vert3} + #{$clipPad} + 2 * #{$clip}), //bottom
                    calc(#{$hor3} - #{$clip} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clip})
    );

  }

  .clip_5 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipPad} - 2 * #{$clip}) calc(#{$vert3}), //left
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} - #{$clip} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} - #{$clip}), //top
                    calc(#{$hor3 - #{$clipPad} - #{$clip}/2}) calc(#{$vert3} - #{$clip} / 2),
                    calc(#{$hor3} - #{$clipPad}) calc(#{$vert3}), //right
                    calc(#{$hor3} - #{$clipPad} - #{$clip} / 2) calc(#{$vert3} + #{$clip} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clip}) calc(#{$vert3} + #{$clip}), //bottom
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clip}) calc(#{$vert3} + #{$clip} / 2)
    );
  }
}

//======================================
$clipBegin: 0px;
$time-tr-beg: 0.5s;

.begSize {

  .bl-city__item {
    transition: all $time-tr-beg;
  }

  .clip_2 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipBegin}) calc(#{$vert3} - #{$clipPad} - #{$clipBegin}), //left
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clipBegin}),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 2 * #{$clipBegin}), //top
                    calc(#{$hor3 + #{$clipBegin}/2}) calc(#{$vert3} - #{$clipPad} - 1.5 * #{$clipBegin}),
                    calc(#{$hor3} + #{$clipBegin}) calc(#{$vert3} - #{$clipPad} - 1 * #{$clipBegin}), //right
                    calc(#{$hor3} + #{$clipBegin} / 2) calc(#{$vert3} - #{$clipPad} - #{$clipBegin} / 2),
                    #{$hor3} calc(#{$vert3} - #{$clipPad} - 0 * #{$clipBegin}), //bottom
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} - #{$clipPad} - #{$clipBegin} / 2)
    );
  }

  .clip_3 {
    clip-path: polygon(
                    calc(#{$hor3} + #{$clipPad}) calc(#{$vert3}), //left
                    calc(#{$hor3} + #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} - #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin}) calc(#{$vert3} - #{$clipBegin}), //top
                    calc(#{$hor3 + #{$clipPad} + 1.5*#{$clipBegin}}) calc(#{$vert3} - #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipPad} + 2 * #{$clipBegin}) calc(#{$vert3}), //right
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin} * 1.5) calc(#{$vert3} + #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin}) calc(#{$vert3} + #{$clipBegin}), //bottom
                    calc(#{$hor3} + #{$clipPad} + #{$clipBegin} / 2) calc(#{$vert3} + #{$clipBegin} / 2)
    );
  }

  .clip_4 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipBegin}) calc(#{$vert3} + #{$clipPad} + #{$clipBegin}), //left
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} + #{$clipBegin} / 2),
                    #{$hor3} calc(#{$vert3} + #{$clipPad}), //top
                    calc(#{$hor3 + #{$clipBegin}/2}) calc(#{$vert3} + #{$clipPad} + #{$clipBegin} / 2),
                    calc(#{$hor3} + #{$clipBegin}) calc(#{$vert3} + #{$clipPad} + 1 * #{$clipBegin}), //right
                    calc(#{$hor3} + #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clipBegin}),
                    #{$hor3} calc(#{$vert3} + #{$clipPad} + 2 * #{$clipBegin}), //bottom
                    calc(#{$hor3} - #{$clipBegin} / 2) calc(#{$vert3} + #{$clipPad} + 1.5 * #{$clipBegin})
    );

  }

  .clip_5 {
    clip-path: polygon(
                    calc(#{$hor3} - #{$clipPad} - 2 * #{$clipBegin}) calc(#{$vert3}), //left
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clipBegin}) calc(#{$vert3} - #{$clipBegin} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clipBegin}) calc(#{$vert3} - #{$clipBegin}), //top
                    calc(#{$hor3 - #{$clipPad} - #{$clipBegin}/2}) calc(#{$vert3} - #{$clipBegin} / 2),
                    calc(#{$hor3} - #{$clipPad}) calc(#{$vert3}), //right
                    calc(#{$hor3} - #{$clipPad} - #{$clipBegin} / 2) calc(#{$vert3} + #{$clipBegin} / 2),
                    calc(#{$hor3} - #{$clipPad} - #{$clipBegin}) calc(#{$vert3} + #{$clipBegin}), //bottom
                    calc(#{$hor3} - #{$clipPad} - 1.5 * #{$clipBegin}) calc(#{$vert3} + #{$clipBegin} / 2)
    );
  }

  //=====
  .menu_start {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 12px 13px rgba(0, 0, 0, 0);

    .menu__item {
      transform: scale(0);
    }
  }
}

.menu_start {
  .menu__item {
    transition: transform 1s;
  }
}

.begTrans {
  .bl-city__item {
    transition: all 2s;
  }
}

//======================================

.act {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%) !important;
  //clip-path: polygon(10% 20%, 20% 30%, 50% 80%) margin-box;
  background-position: 0% 0%;
  cursor: default !important;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background: #212223;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.45);
    background: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
}

.bl-city__item {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;

  .bl-city__item-cn::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 148px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
    width: 400px;
    height: 400px;
    transform: translateY(-50%) rotate(45deg);
  }

  .bl-city__item-cn::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
  }

  &.act .bl-city__item-cn::before,
  &.act .bl-city__item-cn::after {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 2s;
  }
}

.bl-city__item-cn {
  overflow: hidden;
  background: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all $time-tr;
}


.act .bl-city__bg {
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  transform: translateY(0%);
}

.zm_next .bl-city__bg {
  transition: all 0.4s;
}

.bl-city__bg {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  width: 700px;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 2s;
  transform: translateY(-50%);
}

.bl-city__bg_2 {
  background-image: url('../img/bg/story.png');
  transform: translate(0%, -81%);
}

.bl-city__bg_3 {
  background-image: url('../img/bg/characters.png');
  transform: translate(-5%, -53%);
}

.bl-city__bg_4 {
  background-image: url('../img/bg/art.jpg');
  background-position: right bottom;
  transform: translate(-21%, 0%);
}

.bl-city__bg_5 {
  background-image: url('../img/bg/world.png');
  transform: translate(-19%, -65%);
}

.zm {
  z-index: 15;
}

.zm_next {
  z-index: 12;
  transition: none;
}

.op_z {
  opacity: 0;
}

.op_f {
  opacity: 1;
}

.pen {
  pointer-events: none;
}

.cont-main {
  max-width: 940px;
  max-height: calc(100vh - 160px);
  position: absolute;
  z-index: 10;
  left: 70px;
  top: 80px;
  top: 45%;
  transform: translateY(-50%);
  overflow: hidden;
  transition: opacity 0.4s;
  opacity: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 12px 13px rgba(0, 0, 0, 0.6);
}

.cont-main_vis {
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0 12px 13px rgba(0, 0, 0, 0);
  padding-bottom: 40px;
  overflow: inherit;
}


.bl-city {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-image: url('../img/bg/main-page.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 535px;
  position: absolute;
  z-index: 30;
  right: 80px;
  top: 100px;
  transform: translateX(0%);
  transition: all 2s;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px 13px rgba(0, 0, 0, 0.5);

  &.menu_start {
    //right: 50%;
    //transform: translateX(50%);
  }
}

.menu__item {
  cursor: pointer;
  font-size: 23px;
  font-weight: normal;
  color: rgba(255, 215, 0, 0.8);
  font-family: $tehno;
  position: relative;
  transition: all 0.3s;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: gold;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }

  &.menu_h {
    &::before {
      transform: scaleX(1);
    }
  }

  &.menu_act {
    color: rgba(255, 215, 0, 1);
    font-weight: bold;

    &::before {
      display: none;
    }
  }
}

.menu__item_home {
  color: rgba(255, 215, 0, 1);
  text-transform: uppercase;
  padding-right: 20px;
  font-size: 26px;
}


//========================
.cont-main__text-bl {
  margin-bottom: 50px;
}

.cont-main__title {
  font-size: 40px;
  font-weight: bold;
  color: $white;
  margin-bottom: 30px;
}

.cont-main__desc {
  font-size: 25px;
  font-style: italic;
  color: $white;
}

.name-st {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  font-size: 32px;
  color: rgba(255, 215, 0, 1);
  text-shadow: 0 0 20px #000000;
  //background: rgba(0, 0, 0, 0.5);
  //box-shadow: 0 0 12px 13px rgba(0, 0, 0, 0.5);
}

.cont-main__wrap {
  display: flex;
  justify-content: space-between;
}

.cont-main__link-comics {

}

.link-comics {
  display: block;
  width: 500px;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  border: 1px solid gray;
  transition: background-position 0.45s;
  cursor: pointer;
  padding: 30px;
  text-decoration: none;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);

  &:hover {
    background-position: right;
  }
  
  &:hover .link-comics__text {
    color: $red;
  }
}

.link-comics__text {
  color: #004466;
  transition: color 0.4s;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.1;
}

.link-comics__text-en {
  color: #57839a;
}

.cont-main__link-en {
  background-image: url(../img/bg_sammy.png);
}

.cont-main__link-rus {
  background-image: url(../img/bg_len.png);
  margin-bottom: 0;
}

.cont-main__link-dop {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}

.link-dop {

}

.block-social {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $white;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);
}


.block-social__item {
  margin-right: 10px;
  position: relative;
  top: 0;
  transition: top 0.3s;

  &:hover {
    top: 4px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.link-dop_down {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $white;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.5s;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);

  &:hover {
    color: $red;
  }
}

.link-dop_patreon {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);
}

